@CHARSET "UTF-8";
@CHARSET "UTF-8";
body{
font-size:10pt;
}


#courseTable{
}
.rightButton{
text-align:center;
width:80px;
}
.post{
margin:auto;
background-color:white;
}
.tableTitles
{
text-align:left;
font-family:"Times New Roman", Times, serif;
font-size:12pt;
font-weight:bold;
font-color:black;

}

table 
{
width:100%;
}

table tr
{
width:100%;
}
#content{
float:none;
}

a{
text-decoration:underline;
}