@CHARSET "UTF-8";
body{
font-size:10pt;
}
#content{
float:none;
}
#programTable
{
text-align:left;
margin:auto;
width:100%;
}

.tableTitles
{
text-align:left;
font-family:"Times New Roman", Times, serif;
font-size:12pt;
font-weight:bold;

}
#programNameDiv,#programDesDiv{
text-align:center;
}


.deleteBtn
{
}
.deleteBtnSpan
{
margin:auto;
}
table 
{
width:100%;
}

table tr
{
width:100%;
}


#newOutcomeField,#newEduObjField,#newCourseField
{
	text-align:center;
}
.rightButton{
text-align:center;
width:80px;
}
.tabTitles{
font-size:9pt;

}

.fileButtonArea{
text-align:center;
width:300px;
}
#tabs{
width:800px;
}
#addProgramOutcomeBtn,#addProgramEduObjBtn,#addCourseBtn{
float:right;
}
#assTitle,#evaTitle{
background-color:#D3D6FF;
}
#addAssessmentplanBtn,deleteAssessmentplanBtn{
width:50px;
}
a{
text-decoration:underline;
}